.body { 
    background-color: $maincolor;
}
.main{
  
    min-width: 100%;
    min-height: 500px;
}
p{
    color: $black;
    padding: 0 10px;
}

h1 {
    color: $black;
}

h2 {
    color: $black;
}
//cajas de nosotros y contactos//
.colorcajas {
    border: solid;
        background-color: $secondarycolor;
    }
    .colorcajas-2 {
        @extend .colorcajas;
        background-color: $colorcaja2;
    }
    .colorcajas-3 {
        @extend .colorcajas;
        background-color: $colorcaja3;
    }
    

//tabla de talles//
td, th {
    border: 2px solid rgb(0, 0, 0);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.centro {
    text-align: center;
}


