
@mixin textos ($color, $texttransform, $textdecoration, $lineheight)
 {
    color: $color;
    text-transform:$texttransform;
    text-decoration:$textdecoration;
    line-height:$lineheight;
 }

 .p1{
    @include textos(orangered,capitalize,underline,1.2);
 }
 .p2 {
    @include textos(rgb(205, 0, 0),capitalize,underline,1.2);
 }
 .p3 {
    @include textos(green,capitalize ,none ,1.2 );
 }